html,body{
	width:100%;
	height:100%;
}
.signTop{
	padding:0.533rem 0.4rem 0.533rem 0.533rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

.signIntro div:nth-of-type(1){
	color:#333333;
	font-size:0.533rem;
	font-weight: 600;
}
.signIntro div:nth-of-type(2){
	color:#666666;
	font-size:0.32rem;
}
.signIntro div:nth-of-type(2)>span{
	color:#FD4844;
}
.signBtn{
	width:2.88rem;
	height:	0.96rem;
	color:#fff;
	font-size:0.4267rem ;
	text-align: center;
	line-height:0.96rem ;
	background-color: #FD4844;
	border-radius:0.7467rem ;
}
.signBottom{
	padding-top:0.2rem;
	padding-left:0.533rem ;
	padding-right:0.5rem ;
	background-color: #fff;
	
}
.line{
	width:100%;
	height:2px;
	background-color:#E3E3E3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.circle{
	width:12px;
	height:12px;
	background-color: #fff;
	border:1px solid #DFDFDF;
	border-radius: 6px;
	position: relative;
}
/*签到进度条*/
.changeLine{
	/* width:10%; */
	height:2px;
	background-color: #FD4844;
	border-radius: 1px;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
}
/*签到更改样式*/
.signed{
	background:url('../img/research_choose.png') no-repeat center/cover;
	width:14px;
	height:14px;
	border:none;
	z-index: 2;
}
/*去除第七天的圈*/
.line div:nth-of-type(7){
	border:1px solid #fff;
}
.gift{
	background:url('../img/welfare_gift@2x.png') no-repeat center/cover;
	width:0.56rem;
	height:0.56rem;
	position: absolute;
	top:50%;
	transform: translateY(-50%) translateX(25%);
	right:0;
	z-index: 3;
}
/*更换第七天宝箱*/
.gift.sevenGift{
	background: url('../img/welfare_gift_open@2x.png') no-repeat center/cover;	
}

.line div:after{
	content: '';
	display: block;
	width:1rem;
	color:#999999;
	font-size:0.32rem ;
	position: absolute;
	top:calc(50% + 0.32rem);
	
}
.line div:nth-of-type(1):after{
	content: '第1天';
	left:0;

	
}
.line div:nth-of-type(2):after{
	content: '第2天';
	left:-60%;
}
.line div:nth-of-type(3):after{
	content: '第3天';
	left:-60%;
}
.line div:nth-of-type(4):after{
	content: '第4天';
	left:-60%;
}
.line div:nth-of-type(5):after{
	content: '第5天';
	left:-60%;
}
.line div:nth-of-type(6):after{
	content: '第6天';
	left:-60%;
}
.line div:nth-of-type(7):after{
	content: '第7天';
	left:-150%;
}

.placeHolder{
	width:100%;
	height:1.333rem;
	background-color: #fff;
	border-bottom: 0.1333rem solid #F5F5F5;
}
/*.bannerImg{
	width:100%;
	height:2.4rem;
	padding:0 0.5333rem;
	box-sizing: border-box;
	margin-bottom:0.666rem;
}*/
/*.bannerImg img{
	width:100%;
	height:100%;
}
.holder{
	width:100%;
	height:0.1333rem;
	background-color:#F5F5F5;
}*/
.fullMask{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8) ;
	position: fixed;
	top:0;
	left:0;
	z-index:4;
	display: none;
}
.getCoinTip{
	width:7.467rem;
	height:7.3867rem;
	background-color: #fff;
	padding-top:0.613rem;
	position: absolute;
	top:2.667rem;
	left:50%;
	transform: translateX(-50%);
	border-radius:0.213rem ;
	text-align: center;
}
.close{
	position: absolute;
	top:-1.067rem;
	right:-0.7467rem;
	width:0.7467rem;
	height:0.7467rem;
}
.close>img{
	width:100%;
	height:100%;
}
.tipTit{
	color:#333;
	font-size: 0.4267rem;
	letter-spacing: 1px;
}
.tipTit>span{
	color:#FF2E38;
	font-size: 0.64rem;
	font-weight: 600;
}
.tipImg{
	width:4.053rem;
	height:2.96rem;
	margin: 0 auto;
	margin-top:0.64rem;
	position: relative;
}
.tipImg>img{
	width:100%;
	height:100%;
}
.top{
	position: absolute;
	top:0.133rem;
	left:50%;
	transform: translateX(-50%);
	font-size: 0.293rem;
	color:#fff;
}
.coin{
	position: absolute;
	top:0.45rem;
	left:50%;
	transform: translateX(-50%);
	color:#fff;
	font-size:0.32rem ;
}
.coin>span{
	color:#FDEA38;
	font-size:0.64rem ;
}
.tipBtn{
	width:3.95rem;
	height:1.12rem;
	line-height: 1.12rem;
	text-align: center;
	border-radius:0.7467rem ;
	background-color:#FD4844;
	position: absolute;
	bottom:0.533rem;
	left:50%;
	transform: translateX(-50%);
	color:#fff;
	font-size: 0.4267rem;
	
}
















