html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline-style: none;
    /*FF*/
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: black;
    position: absolute;
}

.tip_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    position: absolute;
    top: 15%;
}

.tip_wrapper .tipBg .tipImg {
    width: 7.4666rem;
    margin-left: 1.2666rem;
}

.tip_wrapper .numContentBg {
    position: absolute;
    top: 3.2rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tip_wrapper .numContent {
    top: 3.2rem;
}

.tip_wrapper .numContent .string1 {
    font-family: PingFangSC-Semibold;
    font-size: 28px;
    color: #E41C21;
    letter-spacing: 3px;
    text-align: center;
}

.tip_wrapper .numContent .string2 {
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #EE3D42;
    letter-spacing: 3px;
    text-align: center;
}

.tip_wrapper .numContent .string3 {
    margin-top: 1.2rem;
    height: 1.92rem;
}

.tip_wrapper .numContent .string3 p {
    font-family: PingFangSC-Semibold;
    font-size: 1.92rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 1.92rem;
    text-align: center;
    float: left;
    display: block;
}

.tip_wrapper .numContent .string3 span {
    font-family: PingFangSC-Semibold;
    font-size: 0.5rem;
    color: #333333;
    letter-spacing: 0;
    text-align: end;
    display: block;
    float: right;
    margin-top: 1.1rem;
}

.tip_wrapper .btnBg {
    position: absolute;
    top: 6.85rem;
    left: 0;
    right: 0;
    text-align: center;
    width: 6.42rem;
    margin: 0 auto;
    background: #FF4B2B;
    height: 1.2rem;
    border-radius: .6rem;
}

.tip_wrapper .btnBg .btn {
    width: 6.42rem;
}

.tip_wrapper .btnBg .btnTitle {
    position: absolute;
    top: 0;
    bottom: 0;
    font-family: PingFangSC-Regular;
    font-size: .56rem;
    font-weight:400;
    color: rgba(255,255,255,1);;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2rem;
}

.tip_wrapper .btnBg .btnTitle .contentTitle {

    /* margin-bottom: 0.2rem; */
}

.tip_wrapper .footerProfile {
    position: absolute;
    bottom: .8266rem;
    text-align: center;
    left: 0;
    right: 0;
}

.tip_wrapper .footerProfile p {
    font-family: PingFangSC-Regular;
    font-size: .32rem;
    color: #999999;
    letter-spacing: 0;
    text-align: center;
}
