
    html,body {
         /* position: relative; */
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    } 
    p,span {
        font-size: .32rem;
        margin: 0;
        padding: 0;
    }
    #root {
        position: relative;
        width: 7.5rem;
        /* height: 100%;  */
    }
    /*引导   二次分享  */
    .nextShare {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        background-color: rgba(0, 0, 0, .8); 
        z-index: 888;
        /* display: none; */
    }
    .nextShare .leadText {
        position: absolute;
        top: 2.6rem;
        left: 50%;
        margin-left: -2.95rem;
        width: 5.9rem;
        height: 2rem;
        box-sizing: border-box;
        padding: .5rem .8rem;
        text-align: center;
        font-size: .36rem;
        color: #666;
        background-color: #fff;

    }
    /*分享后 金币弹框  */
    .coinMask {
        display: flex; 
        justify-content: center; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8); 
        z-index: 777;
        /* display: none; */
    }
    .coinMask_content {
        position: relative;
        width: 5.5rem;
        height: 6.8rem;
        margin-top: 1.2rem;
    }
    .coinMask_content img {
       width: 100%;
    }
    .coinMask_content p,
    .coinMask_content .coinMask_btn {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
    .coinMask_content p:nth-of-type(1) {
        top: 2.6rem;
        font-size: .32rem;
    }
    .coinMask_content p:nth-of-type(2) {
        top: 3.2rem;
        font-size: 1.44rem;
        font-weight: bold;
        color: #FB1024;
    }
    .coinMask_content p:nth-of-type(2) span {
        font-size: .48rem;
        font-weight: normal;
    }
    .coinMask_content .coinMask_btn{
        top: 5.5rem;
        left: 50%;
        margin-left: -1.7rem;
        width: 3.4rem;
        height: .84rem;
        line-height: .84rem;
        border-radius: .84rem;
        background-color: #FD4844;
        font-size: .32rem;
        color: #fff;

    }

    /*红包弹窗  */
    .getBills_mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        z-index: 9999;
        /* display: none; */
    }
    .getBills_mask img {
        display: block;
        width: 100%;
        height: 100%; 
    }
    .getBills_mask p,
    .getBills_mask .getBills_mask_open {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
    .getBills_mask p:nth-of-type(1) {
        top: 5rem;
        font-size: .48rem;
        font-weight: bold;
        color: #F2FFAE;
    }
    .getBills_mask p:nth-of-type(2) {
        top: 6.26rem;
        font-size: .4rem;
        color: #F2FFAE;
    }
    .getBills_mask p:nth-of-type(2) span {
        font-size: 1.44rem;
        font-weight: bold;
    }
    .getBills_mask .getBills_mask_open {
        top: 8.7rem;
        left: 50%;
        width: 2.4rem;
        height: 2.4rem;
        margin-left: -1.2rem;
        animation: beats infinite 1.5s;
        transform: translateZ(0px);
    }
    @keyframes beats {
        0% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
        50% {
            transform: scale(.92);
            -webkit-transform: scale(.92);
        }
        100% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
    /*红包遮罩  end  */
    /*第一份红包  */
    .contentOne {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #FE3B3B;
    }
    .contentOne .contentOne_head{
        width: 100%;
    }
    .contentOne_head img {
        width: 100%;
        display: block;
    }
    .contentOne_head p,
    .contentOne_head .contentOne_tipper {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
    .contentOne_head p:nth-of-type(1) {
        top: .62rem;
        font-size: .48rem;
        color: #FFF0C3;
    }
    .contentOne_head p:nth-of-type(2) {
        top: 2.2rem;
        font-size: 1.44rem;
        font-weight: bold;
        color: #FB1024;
    }
    .contentOne_head p:nth-of-type(2) span {
        font-size: .48rem;
    }
    .contentOne_head .contentOne_tipper {
        top: 2.24rem;
        left: 4.62rem;
        width: 1.16rem;
        height: .48rem;
        line-height: .48rem;
        font-size: .28rem;
        color: #FD434B;
        border-radius: .3rem .3rem .3rem 0;
        background-color: #FFE89C;
    }
    /*继续分享   */
    .nextTurnOn {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .nextOpen {
        align-self: center;
        width: 5.56rem;
        height: 1rem;
        line-height: 1rem;
        margin-top: .32rem;
        font-size: .32rem;
        text-align: center;
        color: #D80614;
        border-radius: 1rem;
        background: linear-gradient(#FFF34B, #FFB300); /* 标准的语法 */
        animation: beats1 infinite 1.5s;
        transform: translateZ(0px);
    }
    @keyframes beats1 {
        0% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
        50% {
            transform: scale(.96);
            -webkit-transform: scale(.96);
        }
        100% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
    .immediatelyReceive {
        font-size: .28rem;
        color: #fff;
        text-align: center;
        margin-top: .36rem;
    }
    /*最后打开app  */
    .lastTurnOn {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* display: none; */
    }
    .lastTurnOn .endOpen {
        align-self: center;
        width: 5.56rem;
        height: 1rem;
        line-height: 1rem;
        margin-top: .32rem;
        font-size: .32rem;
        text-align: center;
        color: #D80614;
        border-radius: 1rem;
        background: linear-gradient(#FFF34B, #FFB300); /* 标准的语法 */
        animation: beats1 infinite 1.5s;
        transform: translateZ(0px);
    }
/*swiper  */
    .scrollBox {
        display: flex;
        flex-direction: column;
        height: 5.1rem;
        margin: .7rem .25rem 0 .25rem;
        padding: 0 .25rem;
        box-sizing: border-box;
        border: .5px solid #FF6565;
        background-color: #FF2D38;
    }
    .scrollBox p {
        position: relative;
        margin: .44rem 0 .26rem 0;
        font-size: .24rem;
        color: #FFD0D0;
        align-self: center;
    }
    .scrollBox p::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -.8rem;
        width: .5rem;
        height: 1px;
        background-color: #fff;
    }
    .scrollBox p::before {
        content: '';
        position: absolute;
        top: 50%;
        right: -.8rem;
        width: .5rem;
        height: 1px;
        background-color: #fff;
    }
    #realUser {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1.3rem;
        position: relative;
    }
    #realUser::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -3.1rem;
        width: 6.2rem;
        height: 1px;
        background-color: #FF6666;
    }
    #realUser img {
        width: .72rem;
        height: .72rem;
        border-radius: 50%;
    }
    .userNickName {
        width: 4.2rem;
        font-size: .28rem;
        color: #fff;
    }
    .dollor {
        font-size: .28rem;
        color: #FFF07F;
    }

    .rolling {
        height: 2.3rem;
        overflow: hidden;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        min-height: 100%;
    }
    .swiper-slide .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1.3rem;
    }
    .swiper-slide .top::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -3.1rem;
        width: 6.2rem;
        height: 1px;
        background-color: #FF6666;
    }
    .swiper-slide .top img {
        width: .72rem;
        height: .72rem;
        border-radius: 50%;
    }
    .swiper-slide .info {
        width: 4.2rem;
        font-size: .28rem;
        color: #fff;
    }

    .swiper-slide .top .dollor {
         font-size: .28rem;
         color: #FFF07F;
    }

