html,
body {
	width: 100%;
	height: 100%;
}

#app {
	/*padding:0 0.4rem;*/
	width: 100%;
	height: 100%;
}

.signDetail {
	padding: 0.3rem 0.4rem;
	display: flex;
	justify-content: space-between;
}

.signRecord>img,
.signRule>img {
	width: 0.32rem;
	height: 0.32rem;
	vertical-align: middle;
}

.signRecord>span,
.signRule>span {
	color: #666666;
	font-size: 0.32rem;
	vertical-align: middle;
}

.signWealth {
	width: 100%;
	height: 5.68rem;
	padding: 0 0.4rem;
	box-sizing: border-box;
	position: relative;
}

.signWealthInner {
	width: 100%;
	height: 100%;
	padding-top: 0.88rem;
	box-sizing: border-box;
	background-color: #FE4B46;
	border-radius: 0.213rem;
	text-align: center;
	position: relative;
}

.signDays {
	font-size: 0.4267rem;
	color: #fff;
	position: relative;
}

.signDays::before {
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 30%;
	opacity: 0.45;
}

.signDays::after {
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius:2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30%;
	opacity: 0.45;
	
}

.signCoin {
	margin-top: 0.267rem;
	position: relative;
}

.signCoin span:nth-of-type(1) {
	color: #FFFFFF;
	font-size: 1.12rem;
	font-weight: 600;
}

.signCoin span:nth-of-type(2) {
	font-size: 0.4267rem;
	color: #fff;
	vertical-align: super;
}

.signCoin .realize {
	position: absolute;
	right: 1.5rem;
	/* bottom: 0.2667rem; */
	bottom: 0.33rem;
	color: #FFED58;
	font-size: 0.32rem;
}

.signShare {
	color: #EF2823;
	width: 7.413rem;
	height: 1.333rem;
	line-height: 1.333rem;
	font-size: 0.4267rem;
	font-weight: 550;
	background-color: #FFE400;
	text-align: center;
	border-radius: 0.7467rem;
	position: absolute;
	bottom: 0.533rem;
	left: 50%;
	margin-left: -3.7065rem;
	animation: heartMove 2s linear infinite;
}
.signFinish{
	width: 7.413rem;
	height: 1.333rem;
	line-height: 1.333rem;
	font-size: 0.48rem;
	font-weight: 550;
	color:#FEFF66;
	text-align: center;
	position: absolute;
	bottom: 0.533rem;
	left: 50%;
	margin-left: -3.7065rem;
}
.signGoShareTit{
	color:#fff;
	font-size:0.48rem ;
	margin-top: 1.12rem;
	letter-spacing: 1px;
}
.signGoShare{
	color: #EF2823;
	width: 7.413rem;
	height: 1.333rem;
	line-height: 1.333rem;
	font-size: 0.4267rem;
	font-weight: 550;
	background-color: #FFE400;
	text-align: center;
	border-radius: 0.7467rem;
	position: absolute;
	bottom: 0.533rem;
	left: 50%;
	margin-left: -3.7065rem;
	animation: heartMove 2s linear infinite;
}
/*心跳效果*/

@keyframes heartMove {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.signBottom {
	padding-top: 0.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #fff;
	margin-top: 0.8rem;
}

.userWealth {
	/* width: 2.2rem;
	height: 0.88rem; */
	background-color: #B60D08;
	border-radius: 0 0.613rem 0.613rem 0;
	position: absolute;
	top: 1.333rem;
	left: -0.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
    animation: upMove 2s linear infinite;
     padding-right: 0.1rem; 
}

@keyframes upMove {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}
	50%{
		transform: translateY(0px);
		opacity: 1;
	}
	80%{
		transform: translateY(-10px);
		opacity:.5;
	}
	100% {
		transform: translateY(-20px);
		opacity: 0;
	}
}
.userWealth>img{
	width:0.48rem;
    border-radius: 50%;
    margin-left: 0.1rem;
}

.userWealth>span {
	color: #fff;
	display: block;
	font-size: 0.267rem;
    transform: scale(0.8);
    text-align: left;
}

.line {
	width: 100%;
	height: 2px;
	background-color: #E3E3E3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.circle {
	width: 10px;
	height: 10px;
	background-color: #fff;
	border: 1px solid #DFDFDF;
	border-radius: 6px;
	position: relative;
}


/*签到进度条*/

.changeLine {
	/*width: 10%;*/
	height: 2px;
	background-color: #FD4844;
	border-radius: 1px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}


/*签到更改样式*/
.signed{
	background: url('../img/research_choose.png') no-repeat center/cover;
	width: 14px;
	height:14px;
	border: none;
	z-index: 2;
}
/*去除第七天的圈*/
.line div:nth-of-type(7){
	border:1px solid #fff;
}
/*默认宝箱*/
.gift {
	background: url('../img/welfare_gift@2x.png') no-repeat center/cover;
	width: 0.56rem;
	height: 0.56rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(25%);
	right: 0;
	z-index: 4;
}
/*更换第七天宝箱*/
.gift.sevenGift{
	background: url('../img/welfare_gift_open@2x.png') no-repeat center/cover;	
}

.line div:after {
	content: '';
	display: block;
	width: 1rem;
	color: #999999;
	font-size: 0.32rem;
	position: absolute;
	top: calc(50% + 0.32rem);
}

.line div:nth-of-type(1):after {
	content: '第1天';
	left: 0;
}

.line div:nth-of-type(2):after {
	content: '第2天';
	left: -60%;
}

.line div:nth-of-type(3):after {
	content: '第3天';
	left: -60%;
}

.line div:nth-of-type(4):after {
	content: '第4天';
	left: -60%;
}

.line div:nth-of-type(5):after {
	content: '第5天';
	left: -60%;
}

.line div:nth-of-type(6):after {
	content: '第6天';
	left: -60%;
}

.line div:nth-of-type(7):after {
	content: '第7天';
	left: -100%;
}

.placeHolder {
	width: 100%;
	height: 1.6rem;
	background-color: #fff;
}

.task {
	background-color: #F5F5F5;
	width: 100%;
	position: absolute;
	top: 9.333rem;
	left: 0;
	bottom: 0;
}

.coinTask {
	background-color: #fff;
	padding: 0.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.267rem;
}

.coinTask .taskIntro>img {
	width: 1.173rem;
	height: 1.173rem;
	vertical-align: middle;
}

.coinTask .taskIntro>span {
	margin-left: 0.4rem;
	color: #333333;
	font-size: 0.4267rem;
	vertical-align: middle;
}

.taskRow>img {
	width: 0.373rem;
	height: 0.373rem;
	vertical-align: middle;
}
/*签到获取奖励弹框*/
.fullMask{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8) ;
	position: fixed;
	top:0;
	left:0;
	z-index:5;
	/*display: none;*/
}
.getCoinTip{
	width:7.467rem;
	height:7.3867rem;
	background-color: #fff;
	padding-top:0.613rem;
	position: absolute;
	top:2.667rem;
	left:50%;
	transform: translateX(-50%);
	border-radius:0.213rem ;
	text-align: center;
}
.close{
	position: absolute;
	top:-1.067rem;
	right:-0.7467rem;
	width:0.7467rem;
	height:0.7467rem;
}
.close>img{
	width:100%;
	height:100%;
}
.tipTit{
	color:#333;
	font-size: 0.4267rem;
	letter-spacing: 1px;
}
.tipTit>span{
	color:#FF2E38;
	font-size: 0.64rem;
	font-weight: 600;
}
.tipImg{
	width:4.053rem;
	height:2.96rem;
	margin: 0 auto;
	margin-top:0.64rem;
	position: relative;
}
.tipImg>img{
	width:100%;
	height:100%;
}
.top{
	position: absolute;
	top:0.133rem;
	left:50%;
	transform: translateX(-50%);
	font-size: 0.293rem;
	color:#fff;
}
.coin{
	position: absolute;
	top:0.45rem;
	left:50%;
	transform: translateX(-50%);
	color:#fff;
	font-size:0.32rem ;
}
.coin>span{
	color:#FDEA38;
	font-size:0.64rem ;
}
.tipBtn{
	width:3.95rem;
	height:1.12rem;
	line-height: 1.12rem;
	text-align: center;
	border-radius:0.7467rem ;
	background-color:#FD4844;
	position: absolute;
	bottom:0.533rem;
	left:50%;
	transform: translateX(-50%);
	color:#fff;
	font-size: 0.4267rem;	
}
.fullRuleMask{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8) ;
	position: fixed;
	top:0;
	left:0;
	z-index:5;
}
.rule{
	position: absolute;
	top:2.613rem;
	left:50%;
	transform: translateX(-50%);
	width:7.467rem;
	height:8.453rem;
	background-color: #fff;
	border-radius:0.213rem ;
}
.ruleTit{
	width:5.467rem;
	height:0.5867rem;
	margin:0 auto;
	margin-top:0.667rem;
	margin-bottom: 0.613rem;
}
.ruleTit img{
	width:100%;
	height:100%;
}
.ulScroll{
	height:6.16rem;
	overflow: auto;
}
.ruleList{
	padding-left:0.4rem;
	padding-right:0.267rem;
}
.ruleList li{
	color:#333333;
	font-size:0.373rem ;
	list-style-type: decimal;
	list-style-position: inside;
	padding-left: 15px;
    text-indent: -1em;
    margin: 0.16rem 0;
}
.fullRecordMask{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8) ;
	position: fixed;
	top:0;
	left:0;
	z-index:5;
}
.ulScroll2{
	height:5rem;
	overflow: auto;
}
.record{
	position: absolute;
	top:2.613rem;
	left:50%;
	transform: translateX(-50%);
	width:7.467rem;
	height:7.467rem;
	background-color: #fff;
	border-radius:0.213rem ;
}
.recordTit{
	width:5.467rem;
	height:0.5867rem;
	margin:0 auto;
	margin-top:0.667rem;
	margin-bottom: 0.213rem;;
}
.recordTit img{
	width:100%;
	height:100%;
}
.recordList{
	padding:0 0.4rem;
}
.recordList li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0.32rem 0;
    border-bottom: 1px solid #DDDDDD;
}
.leftTit{
	display: flex;
	flex-direction: column;
}
.leftTit span:nth-of-type(1){
	color:#333333;
	font-size: 0.373rem;
}
.leftTit span:nth-of-type(2){
	color:#999999;
	font-size:0.293rem;
}
.rightTit{
	color:#333333;
	font-size:0.373rem ;
}
.noMoreData{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	bottom:0.4rem;
	color:#AAAAAA;
	font-size:0.32rem;
	letter-spacing: 1px;
}

/* 分享弹框**************************** */
	html,.fullScreen{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        position: relative; 
    } 
    p,span {
        font-size: .43rem;
        margin: 0;
        padding: 0;
	}
	/*签到 首次领红包  */
    .signFirst_mask,
    .newShareFirst,
    .shareButton {
        position: absolute;
        top: 0;
        left: 0;
		background-color: rgba(0, 0, 0, .87);
		z-index: 999;
		
	}
	.signFirst_mask .closeCancel{
		position: absolute;
		top: 2.5rem;
		left: 8.3rem;
		width: .8rem;
		height: .8rem;
	}
    .signFirst_mask .first_content {
        position: absolute;
        top: 3.3rem;
        left: 50%;
        margin-left: -4.6rem;
        width: 9.2rem;
        height: 9.49rem;
        animation: showAnimation .5s;
        transform: translateZ(0px);
    }
    @keyframes showAnimation {
        from {
			transform: scale(.2);
			-webkit-transform: scale(.2)
		}
		to {
			transform: scale(1);
			-webkit-transform: scale(1)
		}
    }
    .first_content img {
        width: 100%;
    }
    .first_content p,
    .first_content .newsFirstGetCoinBtn {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        font-size: .43rem;
        color: #fff;
    }
    .first_content p:nth-of-type(1) {
        top: 3.81rem;

    }
    .first_content p:nth-of-type(2) {
        top: 4.48rem;
		font-size: .37rem;
		opacity: 0.6;
    }
    .first_content p:nth-of-type(3) {
        top: 5.01rem;
    }
    .first_content p:nth-of-type(3) .newsFirstCoin{
        font-size: 1.39rem;
        font-weight: bold;
    }
    .first_content .newsFirstGetCoinBtn {
        top: 7.52rem;
        left: 50%;
        margin-left: -2.93rem;
        width: 5.87rem;
        height: 1.33rem;
        line-height: 1.33rem;
        border-radius: 1.33rem;
        background-color: #FCF66E;
        color: #EF2823;
        animation: beats 1.5s infinite;
        transform: translateZ(0px);
    }
    @keyframes beats {
        0% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
        50% {
            transform: scale(.96);
            -webkit-transform: scale(.96);
        }
        100% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
    /*新用户 第一次分享   */
    .newShareFirst .shareFirst_content {
        position: absolute;
        top: 3.33rem;
        left: 50%;
        margin-left: -4.52rem;
        width: 9.04rem;
        height: 9.07rem;
        animation: showAnimation .5s;
        transform: translateZ(0px);
	}
	.newShareFirst .closeCancel {
		position: absolute;
		top: 2.5rem;
		left: 8.3rem;
		width: .8rem;
		height: .8rem;
	}
    .shareFirst_content img{
        width: 100%;
    }
    .shareFirst_content .share_bg {
        position: absolute;
        top: 1.23rem;
        left: 50%;
        margin-left: -3.25rem;
        width: 6.51rem;
        height: 2.67rem;
        background-color: #FFFCEC;
    }
    .share_bg .share_bg_content,
    .share_bg p,
    .share_bg .shareSecond {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
    .share_bg .share_bg_content{
        top: .21rem;
        left: 50%;
        margin-left: -3.06rem;
        width: 6.13rem;
        height: 2.67rem;
        border:1px solid #FFD396;
        border-bottom: 0;
    }
    .share_bg p:nth-of-type(1) {
        top: .91rem;
        font-size: .43rem;
        color: #333;
    }
    .share_bg p:nth-of-type(2) {
        top: 2.16rem;
        font-size: .37rem;
        font-weight: bold;
        color: #FF4E39;
    }
    .share_bg p:nth-of-type(2) span {
        font-size: .64rem;
    }
    .share_bg p:nth-of-type(2) .additionNums {
        font-size: 1.39rem;
    }
    .share_bg .shareSecond {
        top: 6rem;
        left: 50%;
        margin-left: -2.94rem;
        width: 5.87rem;
        height: 1.33rem;
        line-height: 1.33rem;
        font-size: .43rem;
        font-weight: bold;
        background-color: #FCF66E;
        color: #EF2823;
		border-radius: 1.33rem;
		animation: beats 1.5s infinite;
		transform: translateZ(0px)
	} 
	
	.share_bg .shareSecond.btnColor{
		background-color: #FFFCBF;
	}
    /*分享按钮  */
    .shareButton .firstShareTip .shareText,
    .shareButton .nextShareTip .nextShareText  {
         position: absolute;
        left: 0;
        right: 0;
        text-align: center;
		bottom: 5rem;
        color: #FFF374;
    }
    .shareText P,
    .nextShareText p {
        font-size: .64rem;
    }
    .shareButton .shareIcon,
    .shareButton .nextShareIcon {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4.08rem;
        background-color: #fff;
    }
    .shareButton .shareIcon p,
    .shareButton .nextShareIcon p,
    .shareButton .shareIcon img,
    .shareButton .nextShareIcon img{
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        font-size: .37rem;
        color: #666;
    }

    .shareButton .shareIcon p:nth-of-type(1),
    .shareButton .nextShareIcon p:nth-of-type(1) {
        top: .32rem;
    }
    .shareButton .shareIcon p:nth-of-type(2),
    .shareButton .nextShareIcon p:nth-of-type(2) {
        top: 2.88rem;
        font-size: .48rem;
        color: #4C4C4E;
    }
    .shareButton .shareIcon img,
    .shareButton .nextShareIcon img {
        top: 1.2rem;
        left: 50%;
        margin-left: -.72rem;
        width: 1.44rem;
		height: 1.44rem;
		animation: shareBeats 1.5s infinite;
		transform: translateZ(0px)
	} 
	@keyframes shareBeats {
        0% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
        50% {
            transform: scale(.9);
            -webkit-transform: scale(.9);
        }
        100% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
/*  */





