
body {
    background-color: #fff;
}
.scrollbox {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative; 
} 
/*弹框  */
#alert_active{
    position: absolute;
    top:0;
    left: 0;
    z-index: 666;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: none;  
}
.closeButtn{
    width: 0.32rem;
    height: 0.35rem;
    position: absolute;
    top:2.5rem;
    right: 0.8rem;
}
.alert_img{
    position: relative;
     width: 6.85rem;
    height: 7.15rem;
    top: 3rem;
    left: 50%;
    margin-left: -3.425rem;
    animation: bigAlert 0.5s;  
    transform: translateZ(0px);
         /* width: 3rem;
        height: 3rem;
        top: 5.575rem;  
        left: 50%;
        margin-left: -1.5rem;  */
}
@keyframes bigAlert{

    from{
        transform: scale(.5);
        -webkit-transform: scale(.5);
		/* width: 3rem;
	   	height: 3rem;
		top: 5.5rem;  
		left: 50%;
	    margin-left: -1.5rem; */
    }
    to{
        transform: scale(1);
        -webkit-transform: scale(1);
    }
} 
.alert_img img{
	   	 width: 7.15rem;
	    height: 7.15rem;
        position: absolute;
        top:50%;
        margin-top:-3.425rem;
	    left: 50%;
    	margin-left: -3.425rem;
        /* animation: bigImg 0.4s;   */

	       	 /* width: 3rem;
	        height: 3rem;
	        position: absolute;
	        top:50%;
	        margin-top: -1.5rem;
	        left: 50%;
	        margin-left: -1.5rem;  */
}
@keyframes bigImg{
    from{
        width: 3rem;
        height: 3rem;
        position: absolute;
        top:50%;
        margin-top: -1.5rem;
        left: 50%;
        margin-left: -1.5rem;
    }
    to{
        width: 7.15rem;
	    height: 7.15rem;
	    position: absolute;
	    left: 50%;
    	margin-left: -3.425rem;
    }
}
.alert_title,.alert_money,
.alert_tip,.statusNum,.statusNone,
.alert_getBtn,.alert_makeBtn{
    position: absolute;
    font-family: PingFangSC-Regular;
    text-align: center;
    left:0;
    right: 0;
}
.alert_title{
      top:0.8rem;
    font-size:0.43rem;
    color: #FFFFFF;
    letter-spacing: -0.32px;
}
@keyframes alertTitle{
	from{
		top:0.2rem;
  		color: #FFFFFF;
          letter-spacing: -0.32px;
          font-size: 0.3rem;
	}
}
.alert_money{
    top:2.45rem;
    font-size: 1.39rem;
    color: #EC2C28;
    letter-spacing: -0.43px;
}
@keyframes alertMoney{
	from{
		top:0.6rem;
	  	color: #EC2C28;
        letter-spacing: -0.32px;
        font-size: 0.8rem;
                
	}
}
.alert_small{
    font-size:0.43rem;
    letter-spacing: -0.35px;
}
.alert_tip{
     top:3.65rem;
    border: 1px solid #FFBC48;
    width: 2.16rem;
    height: 0.53rem;
    line-height: 0.53rem;
    color: #FFBC48;
    left: 50%;
    margin-left: -1.08rem;
    font-size:0.32rem;
}
@keyframes alertTip{
	from{
		top:1.2rem;
	    border: 1px solid #FFBC48;
	    width: 1.8rem;
	    color: #FFBC48;
	    left: 50%;
        margin-left: -0.9rem;
        font-size: 0.2rem;
	}
}
.statusNum{
     font-size: 0.37rem;
    color: #FFC9C7;
    letter-spacing: -0.25px;
    top:4.9rem;
    position: relative;
    display: none;  
}
.statusNum::before{
    content: '';
    width: 0.4rem;
    border:0.5px solid #FFC9C7;
    position: absolute; 
    top:50%;
    left: 1.7rem;
}
.statusNum::after{
    content: '';
    width: 0.4rem;
    border:0.5px solid #FFC9C7;
    position: absolute; 
    top:50%;
    right: 1.7rem;
}
@keyframes statusNum{
	from{
		top:1.75rem;
        color: #FFC9C7;
        font-size: 0.3rem;
	}
}
.statusNone{
     font-size: 0.37rem;
    color: #FFE442;
    letter-spacing: -0.25px;
    top:4.9rem;
    position: relative;
    display: none;  
}
.statusNone::before{
    content: '';
    width: 0.4rem;
    border:0.5px solid #FFC9C7;
     position: absolute; 
    top:50%;
    left: 0.7rem;
}
.statusNone::after{
    content: '';
    width: 0.4rem;
    border:0.5px solid #FFC9C7;
     position: absolute; 
    top:50%;
    right: 0.7rem;
}
@keyframes statusNone{
	from{
		top:1.75rem;
        color: #FFE442;
        font-size: 0.3rem;
	}
}
.numberBags{
    font-size: 0.48rem;
    color: #FCF66E;
    letter-spacing: 0.5px;
 
}

.alert_getBtn,.alert_makeBtn{
     width: 3.95rem;
    height: 1.12rem;
    font-size:0.43rem;
    color: #E21E1A;
    letter-spacing: 0.17px;
    background-color: #FCF66E;
    border-radius: 0.75rem;
    line-height: 1.12rem;
    bottom: 0.25rem;
    left: 50%;
    margin-left: -1.975rem;
    display: none;
}
@keyframes alertBtn{
	from{
		top:2.35rem;
	    border: 1px solid #FFBC48;
	    width: 1.5rem;
	    color: #E21E1A;
	    background-color: #FCF66E;
	    border-radius: 0.3rem;
	    left: 50%;
        margin-left: -0.8rem;
        font-size: 0.3rem;
	}
}

/*没有红包 弹框  */
P{
    font-family: PingFangSC-Semibold;
}
.alert_noneBag{
    position: absolute;
    top:0;
    left: 0;
    z-index: 777;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: none;
}
.alert_bgNone{
    position: relative;
    width: 7.5rem;
    height: 7.5rem;
    top:3.5rem;
    left: 50%;
    margin-left: -3.75rem;
    background-color: #fff;
    border-radius: 0.2rem;
}
.noneTitle,.noneTip,.noneImg,.noneBtn{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.noneTitle{
    top:0.75rem;
    font-size: 0.53rem;
    color: #333333;
    letter-spacing: -0.35px;
    line-height: 0.59rem;
}
.noneTip{
    top:1.44rem;
    font-size: 0.37rem;
    color: #999999;
    letter-spacing: -0.3px;
}
.redNoneTip{
    color: #FD4844;
}
.noneImg{
    top:2.1rem;
    width: 4.6rem;
    left: 50%;
    margin-left: -2.3rem;
}
.noneBtn{
    width: 3.94rem;
    height: 1.12rem;
    background-color: #FD4844;
    bottom: 0.53rem;
    left: 50%;
    margin-left: -1.97rem;
    border-radius: 1.12rem;
    font-size: 0.43rem;
    color: #FFFFFF;
    letter-spacing: 0.17px;
    line-height: 1.12rem;

}
/*没有红包 弹框  end*/

/*新手引导   */
.newGuide{
    position: absolute;
    top:0;
    left: 0;
    z-index: 777;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: none;    

}
.newGuide img{
    position: absolute;
    width: 9.2rem;
    top:6rem;
    left: 0.4rem;
}
    /*新手引导  end  */
/*banner 轮播  */
.swiper-container .banner {
    width: 100%;
    margin: 0;
    padding: 0;
}

.swiper-container .teacherOne,
.teacherTwo,
.teacherThree {
    width: 100%;
    margin: 0;
    padding: 0;
}

.justOnePic {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.justOnePic .bannerTip {
    position: absolute;
    top: 2.2666rem;
    left: 50%;
    margin-left: -2.8rem;
    width: 5.6rem;
    height: 0.53rem;
    background-color: #eb3904;
    border-radius: 0.26666rem;
}

.justOnePic .bannerTip p {
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 0.53333rem;
    margin-left: 0.2rem;
}

.reward,
.makeMoney,
.disciple,
.myPupil,
.invitation {
    position: absolute;
    z-index: 333;
}

.disciple,
 .invitation {
    text-decoration: underline;
}

.reward {
    top: 1.2666rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 37px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.05rem;
}

.eightNum {
    font-size: 1.3866rem;
    color: #fff444;
}
.myPupil{
    width: 1.28rem;
    height: 1.30rem;
    background-color: #FFFAB2;
    border-radius: 0 0 1.28rem 1.28rem;
    box-shadow: 0 3px 0 0 #CE3505;
    top:0;
    left:0.3rem;
    font-family: PingFangSC-Medium;
    font-size: 0.37rem;
    color: #FB440C;
    line-height:0.4rem;
    text-align: center;
    padding-top:0.1rem;
}
.makeMoney {
    width: 1.85rem;
    height: 0.67rem;
    background-color: #fff;
    color: #FF3F05;
    font-size: 12px;
    top: 0.3333rem;
    right: 0;
    border-radius: 0.75rem 0 0 0.75rem;
    line-height: 0.7rem;
    text-align: center;
}
 .disciple {
    width: 4.8rem;
    height: 1.17333rem;
    top: 3.4rem;
    left: 50%;
    margin-left: -2.4rem;
}
 .invitation {
    font-size: 15px;
    color: #fff;
    top: 4.93333rem;
    left: 50%;
    margin-left: -2.2rem;
}
/*领红包 样式 start  */
.main_activity{
    /* width: 100%; */
    width: 9.2rem;
    height: 1.6rem;
    margin: 0 0.4rem 0.32rem 0.4rem;
    padding: 0 0.35rem 0 0.56rem; 
    background-color: #FFFAD8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_activity img{
    width: 0.98rem;
    height: 1.18rem;
}
.activity_text{
    width: 4.9rem;
}
.activity_text p{
    opacity: 0.76;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    margin: 0;
    color: #333333;
}
.activity_text .stateMore,
.activity_text .stateLess{
    font-family: PingFangSC-Medium;
    font-size:0.43rem;
    color: #333333;
    white-space: nowrap;
}
.activity_text .stateMore{
    display: none;
    font-weight: bold;
}
.activity_text .stateLess{
    display: none;
    font-weight: bold;
}
.activity_text .redFont{
    font-size:0.43rem;
    line-height: 0.58rem;
}
.activity_btnMore{
    width: 1.68rem;
    height: 0.8rem;
    background-color: #FD4844;
    box-shadow: 0 2px 4px 0 #FFAF9A;
    border-radius: 0.75rem;
    font-family: PingFangSC-Regular;
    font-size: 0.37rem;
    color: #FFFFFF;
    letter-spacing: 0.11px;
    text-align: center;
    line-height: 0.8rem;
    display: none;
}
.activity_btnLess{
    width: 1.68rem;
    height: 0.8rem;
    background-color: #FD4844;
    box-shadow: 0 2px 4px 0 #FFAF9A;
    border-radius: 0.75rem;
    font-family: PingFangSC-Regular;
    font-size: 0.37rem;
    color: #FFFFFF;
    letter-spacing: 0.11px;
    text-align: center;
    line-height: 0.84rem;
    display: none;
}
/*领红包 样式 end  */

/*原徒弟样式 start  */
/* .mainner {
    overflow: hidden;
    margin-top: 0.44666rem;
    width: 10rem;
    height: 1.626rem;
    display: flex;
}
.mainLeft,
.mainRight {
    width: 4.97333333rem;
    height: 1.626rem;
}
.mainRight {
    position: relative;
}
.mainRight::before {
    display: block;
    content: "";
    width: 0.0266rem;
    height: 0.96rem;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 0;
}
.allDisciple {
    font-size: 14px;
    color: #999;
    text-align: center;
}

.todayReveive,
.todayContribute {
    font-size: 12px;
    text-align: center;
    color:#333;
}
.todayReveive .plusPeople,
.todayContribute .plusNumber {
    font-size: 0.48rem;
    color: #FD4844;
} */
/*原徒弟样式 end  */

.grayShadow {
    width: 10rem;
    height: 0.26666rem;
    background-color: #F5F5F5;
}

/* // 更改mui样式 */

.mui-control-content {
    background-color: white;
}
.mui-control-content .mui-loading {
    margin-top: 50px;
}
#content-three .mui-segmented-control.mui-segmented-control-inverted {
    background-color: #fff;
}
#content-three .mui-segmented-control .mui-control-item {
    color: #999;
}
#content-three .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: #333;
}
#content-three .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar {
    background-color: #FF3D04;
}
#content-three .mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
    border-top: 0;
}
#content-three .mui-content {
    height: 100%;
}
#content-three .mui-slider {
    height: 100%;
}
#content-three .mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group {
    height: 100%;
}
/* // 奖励说明 */

.segmentOneContent .instruction {
    margin-top: 0.77rem;
}
.question {
    text-align: center;
    font-size: 0.48rem;
    color: #333;
    margin-bottom: 0.106rem;
    font-weight:bold;
    margin-bottom: 0.2rem;
}

.answer {
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 16px;
    margin: 0;
}
.segmentOneContent .listSqure {
    position: relative;
    width: 100%;
    height: 2rem;
    margin-top: .27rem;
}
.segmentOneContent .squer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -4.6rem;
    width: 9.2rem;
    height: 1.8rem;
    border: 1px solid rgba(221, 221, 221, 1);
}
.squer li {
    display: flex;
    flex-direction: column;
    
}
.squer li p {
    align-self:center;
    font-size: .29rem;
    margin-bottom: 0;
}
.squer li p:nth-of-type(1) {
    color: rgba(153, 153, 153, 1);
}
.squer li img {
    align-self:center;
    width: .55rem;
    height: .55rem;
    border: 1px dashed #999;
    padding: 2px;
}
.squer li p:nth-of-type(2) {
    color: rgba(51, 51, 51, 1);
}
.squer li:nth-of-type(7) p:nth-of-type(2) {
    color: rgba(253, 72, 68, 1)
}
/**********************  */
.withdrawal {
    margin-top: 0.4rem;
    margin-bottom: 0.533rem;
    position: relative;
    overflow: hidden;
    height: 0.8rem;
    line-height: 0.8rem;
}

.withdrawal .withdraFont {
    font-size: 14px;
    color: #333;
    margin-left: 0.5333rem;
}

.redFont,.redBagNum{
    color: #FD4844;
    font-size: 14px;
}

.withdrawal .withdrawBtn {
    position: absolute;
    width: 2.2933rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    line-height: 0.8rem;
    text-align: center;
    background-color: #FD4844;
    top: 0;
    right: 0.533rem;
}

.withdrawal .withdrawBtn div {
    width: 100%;
    height: 100%;
}

.withdrawBtn div {
    color: #fff;
    font-size: 14px;
    border-radius: 0.2666rem 0.2666rem 0.2666rem 0.2666rem;
    line-height: 0.8rem;
}

hr {
    margin: 0;
    padding: 0;
    border-top: 0.1px solid #ddd;
}

.receiveGift {
    width: 10rem;
    height: 2.6rem;
    position: relative;
    overflow: hidden;
}

.receiveGift #redGift {
    position: absolute;
    top: 0.44rem;
    left: 3.8666rem;
    width: 2.426rem;
    height: 1.973rem;
}

.introduce {
    margin-bottom: 0.853rem;
}

.introduce .redFont {
    text-decoration: underline;
}
/*######  */
.discipleTrick {
   padding: 0 0.53rem;
   margin-top:0.66rem;
}

.discipleTrick .answer {
    margin-bottom: 0.5866rem;
    text-align: center;
    margin: 0 auto;
}

.discipleTrick .answers {
    font-size: 14px;
    color: #666;
    margin-left:0.7rem; 
    margin-bottom:0.5866rem; 
}
 .leftTip{
    position: relative;
    
} 
.borderTip{
    position: absolute; 
    top:0.1rem;
    width: 0.48rem;
    height: 0.48rem;
    background-color: #FD4844;
    border-radius: 0.24rem 0 0.24rem 0;
    text-align: center;
    color: #fff;
}
.discipleTrick p:nth-of-type(4),
.discipleTrick p:nth-of-type(6) {
    margin-bottom: 0.32rem;
}
.howto {
    margin: 0.666rem 0 0.72rem 0;
}
/*  */
#squre{
     margin-bottom: 0.5066rem; 
    display: flex;
    justify-content: space-around;
}
#squre li:nth-of-type(1){
    position: relative;
}
#squre li:nth-of-type(2){
    position: relative;
}
#squre li img{
    width: 0.72rem;
    height: 1.066rem;
    margin-left: 0.6rem; 
}
#squre li  #processPicThree {
    width: 0.8rem;
    height: 0.9866rem;
    margin-left: 0.8rem; 
    
}
#squre li #navLine {
    /* border-top: 1px dashed #979797; */
    width: 1.28rem;
    height: 0.2rem;
    position: absolute;
    top: 0.5066rem;
    left: 1.5rem;
}

.navBarOne {
    position: absolute;
    top: 0.28rem;
    left: 3.25rem;
    color: #979797;
    font-size: 12px;
}
#squre li #navLineNext {
    /* border-top: 1px dashed #979797; */
    width: 1.28rem;
    height: 0.2rem;
    position: absolute;
    top: 0.533rem;
    left: 1.5rem;
}
.navBarTwo {
    position: absolute;
    top: 0.28rem;
    left:3.25rem;
    color: #979797;
    font-size: 12px;
}
.shareFont {
    font-size: 12px;
    color: #333;
    text-align: center;
    line-height: 16px;
    margin: 0;
}

.tipper .answers {
    font-size: 11px;
    color: #AAA;
    margin: 0 0.5333rem 0 0.4166rem;
    line-height: 16px;
    margin-bottom: 0.5rem;
}

/* // 排行榜 */

.listInfo li {
    height: 2.3733rem;
    /* background-color: #BBBBBB; */
}

.listInfo li .row {
    display: flex;
    height: 2.3733rem;
    align-items: center;
}

.listInfo li .row .leftRank {
    /* flex: 0.7; */
    display: flex;
    align-items: center;
}

.listInfo li:nth-of-type(1) .order {
    position: relative;
    width:1.5rem;
    height: 2.37rem;
    background-size: 0.766rem 1rem;
    background-image: url(../icon/welfare_apprentice_ranking_first.png);
    background-repeat: no-repeat;
    background-position: center;
}

.listInfo li:nth-of-type(2) .order {
    position: relative;
    width: 1.5rem;
    height: 2.37rem;
    background-size: 0.766rem 1rem;
    background-image: url(../icon/welfare_apprentice_ranking_second.png);
    background-repeat: no-repeat;
    background-position: center;
}

.listInfo li:nth-of-type(3) .order {
    position: relative;
    width: 1.5rem;
    height: 2.37rem;
    background-size: 0.766rem 1rem;
    background-image: url(../icon/welfare_apprentice_ranking_third.png);
    background-repeat: no-repeat;
    background-position: center;
}

.row .leftRank .order {
    position: relative;
    width: 1.5rem;
    height: 2.37rem;
    background-size: 0.666rem 0.949rem;
    background-repeat: no-repeat;
    background-position: center;
}

.listInfo li:nth-of-type(1) span,
.listInfo li:nth-of-type(2) span,
.listInfo li:nth-of-type(3) span {
    color: #fff;
}

.listInfo li span {
    position: absolute;
    
    top: 50%;
    left: 50%;
     margin-left: -0.12rem;
    margin-top: -0.38rem; 
    /* transform: translateY(-40%) translateX(-50%); */
    font-size: 14px;
    color: #999;
   
}

.listInfo li .row .avatar {
    width: 1.12rem;
    height: 1.12rem;
    align-items: center;
    /* margin-top: 0.5333rem; */
    margin-right: 0.26666rem;
    border-radius: 50%;
}

.listInfo li .row .nameMobile {
    flex: 2;
    /* margin-top: 0.5333rem; */
}
.infoTip p{
    display: none;
    color:#AAA;
    font-size: 12px;
    text-align: center;
    margin:0.72rem 0;
}
.row .name {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    color: #333333;
    letter-spacing: 0.11px;
    /* text-align: center; */
}

.row .enlightening {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
}

.row .sumGrow .doller {
    font-size: 14px;
    color: #333;
    /* margin-top: 0.6rem; */
    margin-right: 0.453333rem;
}

.liLine {
    /* height:1rem;  */
    border-top: 0.5px solid #eee;
    width: 9.2rem;
    margin-left: 0.4rem;
    border-width: 0.5px;
}

/* // 徒弟贡献说明 */

.titleQuest .question {
    margin: 0.9066rem 0 0.053rem 0;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
    /* letter-spacing: 0.13px; */
    text-align: center;
}

.titleQuest .answer {
    margin-bottom: 0.72rem;
}

.titleQuest .answers {
    margin: 0 0.613rem 0 1.01rem;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0.11px;
}

/* // 底部 */

.black {
    width: 10rem;
    height: 1.333rem;
}

#footer {
    width: 10rem;
    height: 1.333rem;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.footLeft,
.footRight {
    width: 5rem;
    height: 1.333rem;
}

.footLeft {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footRight {
    float: right;
    position: relative;
    display: flex;
        align-items: center;
    justify-content: center;
}
#hot{
    position: absolute;
    top:0.1rem;
    right: 18%;
    width: 0.61rem;
    height: 0.51rem;
}
.footRight::before {
    display: block;
    content: "";
    width: 0.0266rem;
    height: 0.96rem;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 0;
}
.sweepCodePic {
    width: 0.48rem;
    height: 0.506rem;
    margin-right: 0.15rem;
    
}

.sweepFont {
    font-size: 14px;
    color: #333;
    margin-bottom: 0;
    line-height: 0.506rem;
}

.wechatPic {
    width: 0.64rem;
    height: 0.506rem;
margin-right: 0.1rem;
   
}

/*******************************************  */

/*底部弹框  */

.mui-table-view-cell {
    padding: 0;
    border-radius: 0;
    background-color: #fff;
}

.mui-popover.mui-popover-action .mui-table-view {
    margin: 0;
}

.mui-table-view .top {
    font-size: 14px;
    color: #999;
    margin: 0.5866rem 0 0.613rem 0;
}

.mui-popover.mui-popover-action .mui-table-view {
    border-radius: 0;
}

.mui-table-view-cell>a:not(.mui-btn) .mui-table-view-cell>a:not(.mui-btn) {
    padding: 0;
    margin: 0 0 0.8rem 0;
}

.mui-table-view .bott {
    font-size: 12px;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem;
    margin-bottom: 0.8rem;
}
.weChat{
    position: relative;
}
.weChat #tuijian{
    position: absolute;
    top:0;
    right:-0.4rem;
    width: 0.91rem;
    height: 0.51rem;
}
.mui-table-view .bott img {
    width: 1.44rem;
    height: 1.44rem;
}

.mui-table-view .mui-table-view-cell span {
    font-size: 16px;
    color: #333;
}

#share .mui-table-view:nth-of-type(2) {
    width: 10rem;
    height: 1.386rem;
    border-radius: 0;
}
.mui-table-view .bottom{
    margin-bottom:0.8rem;
     display: none; 
}
.mui-table-view .bottom p{
    font-size: 14px;
    color:#333;
}
.mui-table-view .bottom span{
    color:#4A90E2;
}
#friends{
    display: none;
}
#msg{
    display: none;
}

  /*  */
#content-three .segmentTabBg {
    display: flex;
    height: 1.28rem;
    position: relative;
    margin-bottom: 0.3rem;
}

#content-three .segmentTabBg::after {
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    background-color: #DDDDDD;
    bottom: 0;
}

#content-three .textCommon {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
    letter-spacing: 0.13px;
    text-align: center;
    width: 3.333rem;
    line-height: 1.28rem;
}

#content-three .mui-active {
    color: #333333;
    text-align: center;
}

#content-three .mui-active::before {
    display: block;
    content: '';
    width: 40px;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: -1px;
    margin-left: 1.066rem;
    z-index: 222;
}

.segmentContainer .segmentTwoContent {
    display: none;
}

.segmentContainer .segmentThreeContent {
    display: none;
}

.mui-scroll-wrapper .mui-scroll {
    position: relative !important;
}

.mui-scroll-wrapper {
    position: relative !important;
}