.DS_Store
.idea/
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
node_modules/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
.idea
.idea/*
./.idea
./.idea/*
dist.zip
dist.rar
.idea
.idea/*

package-lock.json
